# Compiled class file
*.class

# Maven
target

# Eclipse
.settings/**
.prefs
.project
.classpath
.metadata
*.tmp
*.bak
*.swp
.factorypath

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
