.card-title {
    background: linear-gradient(58deg, #f44336, #673ab7);
    color: white;
    padding-bottom: 1rem;
}

.card-title-child{
  background: linear-gradient(58deg, #009688, #673ab7);
    color: white;
    padding-bottom: 1rem;
}

.panel-desc{
    font-size: 15px;
}

.city {
    font-size: 25px;
  }
  
  .date {
    font-size: 15px;
  }
  
  .sun {
    font-size: 15px;
    height: 25px;
  }

  @media(max-width:1199px) {
    .panel-desc{
        font-size: 10px;
    }
  }